<app-ntt-card>
    <div class="header">
        Cart View
    </div>
    <div class="footer">
        NTT @ 2023
    </div>
    <div #cardBody class="body">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr appHighlight *ngFor="let cartLine of cart$|async;let idx=index">
                    <td>{{idx+1}}</td>
                    <td>{{cartLine.name}}</td>
                    <td>{{cartLine.price.value|currency:'INR'}}</td>
                    <td>1</td>
                    <td>{{1*cartLine.price|currency:'INR'}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</app-ntt-card>