<div class="container">
    <div class="display-1">shop-IT</div>
    <hr />
    <div>
        <div class="row">
            <div class="col-4">
                <img [src]="product.image" class="img-fluid" />
            </div>
            <div class="col-8">
                <div>{{product.name}}</div>
                <div>{{product.price}}</div>
                <div>{{product.description}}</div>
                <button (click)="handleBuy($event)" class="btn btn-dark">Buy</button>
            </div>
        </div>
    </div>
</div>