<div class="card">
    <div class="card-header">Customer Form</div>
    <div class="card-body">
        <form #customerForm="ngForm" (submit)="handleSubmit(customerForm)">
            <button type="button" (click)="handleLoadCustomer()" class="btn btn-dark">Load Customer</button>
            <hr />
            <div class="form-group">
                <label>First Name</label>
                <input class="form-control" required minlength="3" [(ngModel)]="customerModel.firstName"
                    name="firstName" />
                <div *ngIf="customerForm.controls['firstName'].errors" class="text-danger">
                    <div
                        *ngIf="customerForm.controls['firstName'].touched && customerForm.controls['firstName'].errors['required']">
                        First Name is required
                    </div>
                    <div
                        *ngIf="customerForm.controls['firstName'].touched && customerForm.controls['firstName'].errors['minlength']">
                        First Name must be at least 3 characters long
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input class="form-control" required [(ngModel)]="customerModel.lastName" name="lastName" />
            </div>
            <hr />
            <button class="btn btn-dark">Submit</button>
            <hr />
        </form>
        <hr />
        <pre>
            <hr/>
            Form Model
            {{ customerForm.value|json}}
            Customer Model
            {{ customerModel | json}}
            <hr/>
            Form Group ( e.g customerForm )
            is pristine  : {{ customerForm.pristine}}
            is dirty     : {{ customerForm.dirty}}
            is invalid   : {{ customerForm.invalid}}
            is valid     : {{ customerForm.valid}}
            is untouched : {{ customerForm.untouched}}
            is touched   : {{ customerForm.touched}}
            <hr/>
            Form Control ( e.g lastName )
            is pristine  : {{ customerForm.controls['lastName'].pristine}}
            is dirty     : {{ customerForm.controls['lastName'].dirty}}
            is invalid   : {{ customerForm.controls['lastName'].invalid}}
            is valid     : {{ customerForm.controls['lastName'].valid}}
            is untouched : {{ customerForm.controls['lastName'].untouched}}
            is touched   : {{ customerForm.controls['lastName'].touched}}
        </pre>
    </div>
</div>