<div class="card">
    <div class="card-header">Voting-box</div>
    <div class="card-body">
        <div class="d-flex justify-content-around flex-wrap">
            <app-voting-item 
                *ngFor="let itemName of votingItems" 
                [itemName]="itemName"
                (like)="handleLikeVote($event)"
                (dislike)="handleDislikeVote($event)"
                >
            </app-voting-item>
        </div>
        <hr />
        <app-voting-table [votingLines]="votingLines"></app-voting-table>
    </div>
</div>