<div class="card">
    <div class="card-header">Voting Table</div>
    <div class="card-body">
        <table class="table table-border table-striped">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Likes</th>
                    <th scope="col">Likes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Item 1</td>
                    <td>100</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Item 2</td>
                    <td>100</td>
                    <td>100</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>